# Build outputs
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.sln.docstates

# JetBrains Rider / IntelliJ
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

Sujet.txt
note-q5.txt
